name: Shellcheck
on: [pull_request, push]

jobs:
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Update Shellcheck
        run: |
          sudo apt install xz-utils
          scversion="stable"
          wget -qO- "https://storage.googleapis.com/shellcheck/shellcheck-${scversion?}.linux.x86_64.tar.xz" | tar -xJv
          sudo cp "shellcheck-${scversion}/shellcheck" /usr/bin/
          shellcheck --version
      - name: Shellcheck
        run: shellcheck -x config/.zshrc scripts/*
